---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About me">
    <p>
      Curioso por la ciencia y la tecnología, con experiencia en el sector avícola y formación autodidacta en frontend.
    </p>

    <p>Actualmente me especializo en el framework Astro, que considero será muy importante en el desarrollo web del futuro.
    </p>

      <p>  Me atraen sus cualidades ligeras, eficientes y flexibles, que lo convierten en una opción adecuada para crear sitios web ricos en contenido, como blogs, portafolios, documentación y algunos sitios de comercio electrónico.
      <p/>

        <p>Creo que Astro tiene el potencial de revolucionar el desarrollo web, y estoy entusiasmado de ser parte de esta comunidad.
      
      
    </p>

    
  </Page>
</Base>
